@import './_variables'
@import './_mediaQueries'
@import './_nameSearch'
@import './_studentInfo'
@import './_gradeToggle'
@import './_tag'

html, body
  width: 100vw
body
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@700&family=Staatliches&display=swap')
  margin: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

li
  list-style: none

input
  border: none
  outline: none

.right
  margin-left: auto


