body
  margin: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

li
  list-style: none

.container
  display: flex
  align-items: center
  justify-content: center

img
  max-width: 100%

.student-pic
  flex-basis: 40%

.text
  font-size: 20px
  padding-left: 20px

.studentName
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@700&family=Staatliches&display=swap')
  font-size: 65px
  font-family: 'Open Sans', sans-serif
  font-family: 'Raleway', sans-serif
  font-family: 'Staatliches', cursive

.studentInfo
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@100&family=Staatliches&display=swap')
  font-family: 'Open Sans', sans-serif
  font-family: 'Raleway', sans-serif
  font-family: 'Staatliches', cursive
